body{
    background-color: antiquewhite;
}
.main{
    width: 1000px;
    border: 2px solid green;
    border-radius: 25px;
    margin: 20px auto;
    padding: 15px;
    box-shadow: 10px 10px rgb(10, 60, 10);

}
h1,h2{
    text-align: center;
}